<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hacker News</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
        <script src="https://kit.fontawesome.com/733e866dde.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">-->
        <script type="text/javascript" src="javascript/news.js"></script>
    </head>
    <body>
        <main>
            <table id="content" cellspacing="0" cellpadding="0">
                <tbody>
                    <!--Menu-->
                    <tr>
                        <td>
                            <table id="nav" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td id="logo">Y</td>
                                    <td id="menu">
                                        <b><a href="/news">Hacker News</a></b>
                                        |
                                        <a href="#">welcome</a>
                                        |
                                        <a href="/newest">new</a>
                                        |
                                        <a href="#">threads</a>
                                        |
                                        <a href="#">past</a>
                                        |
                                        <a href="#">comments</a>
                                        |
                                        <a href="#">ask</a>
                                        |
                                        <a href="#">show</a>
                                        |
                                        <a href="#">jobs</a>
                                        |
                                        <a href="/submit">submit</a>
                                    </td>
                                    <td id="session">
                                        <a href="#">login</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!--Space-->
                    <tr id="space-10px"></tr>
                    <!--News-->
                    <tr>
                        <td>
                            <table id="news">
                                <tbody id="allNews">
                                    <% if (locals.error) { %>
                                    <p> <%= error %> </p>
                                    <% } else {
                                        if (locals.submissions) { %>
                                            <% submissions.forEach((submission, idx) => { %>
                                                <tr id=<%= submission.id %> class="newInfo">
                                                    <td class="oderNum"><%= idx %>.</td>
                                                    <td class="voteButton"><i id=<%= submission.id %> class="fas fa-heart"></i></td>
                                                    <td class="title">
                                                        <a class="newTitle titleText" href=<%= submission.url %>> <%= submission.title %> </a>
                                                        <a class="newLink" href="#"><%= (new URL(submission.url).hostname) %></a>
                                                    </td>
                                                </tr>
                                                <tr class="newActions">
                                                    <td colspan="2"></td>
                                                    <td>
                                                        <span id="votes_<%= submission.id %>"><%= submission.points %> points</span>
                                                        by
                                                        <a href="#"><%= submission.author %></a>
                                                        &nbsp
                                                        <span title=<%= submission.published_time %>>
                                                            <a href="/submissions/"<%= submission.id %>><%= submission.published_time %></a>
                                                        </span>
                                                        &nbsp
                                                        |
                                                        <a href="#">hide</a>
                                                        |
                                                        <a href="#"><%= submission.comments.length === 0 ? "discuss" : "comments" %></a>
                                                    </td>
                                                </tr>
                                                <tr class ="space-10px"></tr>
                                            <% }) %>
                                        <% } 
                                    }%>
                                   <!--News go here-->
                                    <tr id="moreButton">
                                        <td colspan="2"></td>
                                        <td><button id="moreNews" onclick="showNews()" class="titleText button">More</button></td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!--Line-->
                    <tr>
                        <td><br><div class="line"></div></td>
                    </tr>
                    <!--Footer-->
                    <tr>
                        <td>
                            <div id="footerData">
                                <br>
                                <a class="titleText" href="#">Applications are open for YC Summer 2022</a>
                                <br><br>
                                <span id="footerLinks">
                                    <a href="#">Guidelines</a>
                                    |
                                    <a href="#">FAQ</a>
                                    |
                                    <a href="#">Lists</a>
                                    |
                                    <a href="#">API</a>
                                    |
                                    <a href="#">Security</a>
                                    |
                                    <a href="#">Legal</a>
                                    |
                                    <a href="#">Apply to YC</a>
                                    |
                                    <a href="#">Contact</a>
                                </span>
                                <br><br>
                                <form method="get" action="#">
                                    <span class="titleText">Search:</span>
                                    <input type="text" name="searchQuery" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="none" autocomplete="false">
                                </form>
                                <br><br>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>