<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hacker News</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
        <script src="https://kit.fontawesome.com/733e866dde.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="javascript/news.js"></script>
    </head>
    <body>
        <main>
            <table id="content" cellspacing="0" cellpadding="0">
                <tbody>
                    <!--Menu-->
                    <tr>
                        <td>
                            <%- include("./nav.ejs") %>
                        </td>
                    </tr>
                    <!--Space-->
                    <tr id="space-10px"></tr>
                    <!--News-->
                    <tr>
                        <td>
                            <table id="news">
                                <tbody id="allNews">
                                    <% if (locals.error) { %>
                                    <p> <%= error %> </p>
                                    <% } else {
                                        if(locals.info) { %>
                                            <p><%= info %></p>
                                        <%}
                                            if (locals.submissions) { %>
                                            <% submissions.forEach((submission, idx) => { 
                                                let pos = idx+(p-1)*10;
                                                if (submission.type === "url") { 
                                            %>
                                                <tr id="<%= submission.id %>" class="newInfo">
                                                    <td class="oderNum"><%= pos %>.</td>
                                                    <td class="voteButton">
                                                        <% if (!submission.upvoted) { %>
                                                            <form method="post" action="/users/upvoteSubmission/<%= submission.id %>?goto=<%=view%><%= view.includes('?') ? '&' : '?' %>p=<%=p%>">
                                                                <button type="submit" class="buttonNoStyle"><i class="fas fa-heart"></i></button>
                                                            </form>
                                                        <% } else { %>
                                                            <form method="post" action="/users/downvoteSubmission/<%= submission.id %>?goto=<%=view%><%= view.includes('?') ? '&' : '?' %>p=<%=p%>">
                                                                <button type="submit" class="buttonNoStyle"><i class="fas fa-heart filledHeart"></i></button>
                                                            </form>
                                                        <% } %>
                                                    </td>
                                                    <td class="title">
                                                        <a class="newTitle titleText" href="<%= submission.url %>"> <%= submission.title %> </a>
                                                        <a class="newLink" href="<%= submission.url %>"><%= (new URL(submission.url).hostname) %></a>
                                                    </td>
                                                </tr>
                                                <tr class="newActions">
                                                    <td colspan="2"></td>
                                                    <td>
                                                        <span><%= submission.points %> points</span>
                                                        by
                                                        <a href="/user?id=<%=submission.googleId%>"><%= submission.username %></a>
                                                        &nbsp
                                                        <%= submission.createdAt %>
                                                        &nbsp
                                                        |
                                                        <a href="#">hide</a>
                                                        |
                                                        <a href="/submission?id=<%= submission.id %>">
                                                        <% if(submission.comments != 0)  { %> 
                                                            <%= submission.comments %> comments
                                                        <% } else { %>
                                                            discuss
                                                        <% } %></a>
                                                    </td>
                                                </tr>
                                                <tr class ="space-10px"></tr>
                                                <% 
                                                } else {   
                                                %>
                                                <tr id="<%= submission.id %>" class="newInfo">
                                                    <td class="oderNum"><%= pos %>.</td>
                                                    <td class="voteButton">
                                                        <% if (!submission.upvoted) { %>
                                                            <form method="post" action="/users/upvoteSubmission/<%= submission.id %>?goto=<%=view%>?p=<%=p%>">
                                                                <button type="submit" class="buttonNoStyle"><i class="fas fa-heart"></i></button>
                                                            </form>
                                                        <% } else { %>
                                                            <form method="post" action="/users/downvoteSubmission/<%= submission.id %>?goto=<%=view%>?p=<%=p%>">
                                                                <button type="submit" class="buttonNoStyle"><i class="fas fa-heart filledHeart"></i></button>
                                                            </form>
                                                        <% } %>
                                                    </td>
                                                    <td class="title">
                                                        <a class="newTitle titleText" href="/submission?id=<%= submission.id %>"> <%= submission.title %> </a>
                                                    </td>
                                                </tr>
                                                <tr class="newActions">
                                                    <td colspan="2"></td>
                                                    <td>
                                                        <span><%= submission.points %> points</span>
                                                        by
                                                        <a href="/user?id=<%= submission.googleId %>"><%= submission.username %></a>
                                                        &nbsp
                                                        <%= submission.createdAt %>
                                                        &nbsp
                                                        |
                                                        <a href="#">hide</a>
                                                        |
                                                        <a href="/submission?id=<%= submission.id %>">
                                                        <% if(submission.comments != 0)  { %> 
                                                            <%= submission.comments %> comments
                                                        <% } else { %>
                                                            discuss
                                                        <% } %></a>
                                                    </td>
                                                </tr>
                                                <tr class ="space-10px"></tr>

                                                <tr class ="space-10px"></tr>
                                            <% }
                                            }) %>
                                        <% } 
                                    }%>
                                   <!--News go here-->
                                   <% if (locals.more) { %>
                                    <tr id="moreButton">
                                        <td colspan="2"></td>
                                        <td>
                                            <form method="get" action="<%= view%>">
                                                <input type="hidden" name="p" value="<%= parseInt(p)+1 %>">
                                                <input id="moreNews" class="titleText button" type="submit" value="More" class="button">
                                            </form>
                                        </td>
                                    <% } %>    
                                    </tr>                                    
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!--Line-->
                    <tr>
                        <td><br><div class="line"></div></td>
                    </tr>
                    <!--Footer-->
                    <tr>
                        <td>
                            <div id="footerData">
                                <br>
                                <a class="titleText" href="#">Applications are open for YC Summer 2022</a>
                                <br><br>
                                <span id="footerLinks">
                                    <a href="#">Guidelines</a>
                                    |
                                    <a href="#">FAQ</a>
                                    |
                                    <a href="#">Lists</a>
                                    |
                                    <a href="#">API</a>
                                    |
                                    <a href="#">Security</a>
                                    |
                                    <a href="#">Legal</a>
                                    |
                                    <a href="#">Apply to YC</a>
                                    |
                                    <a href="#">Contact</a>
                                </span>
                                <br><br>
                                <form method="get" action="#">
                                    <span class="titleText">Search:</span>
                                    <input type="text" name="searchQuery" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="none" autocomplete="false">
                                </form>
                                <br><br>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>